<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.chanzi.pokebao"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2016040421"
    android:versionName="1.2">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE">
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE">
    </uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS">
    </uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS">
    </uses-permission>
    <!-- 二维码扫描需要的权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <!-- SMART Control SDK Begin -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- SMART Control SDK End -->

    <permission
        android:name="com.chanzi.pokebao.permission.ACCESS_PROVIDER"
        android:description="@null"
        android:label="@null"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.chanzi.pokebao.permission.ACCESS_PROVIDER"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".PokeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="j4viQgczqhg5kZguulPrIGY0">
        </meta-data>
        <meta-data
            android:name="MIAODOU_APP_KEY"
            android:value="2e0000b60e58494d243ada4e2b7b0738">
        </meta-data>

        <activity
            android:name=".quicklogin.QuickLoginActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".offline.OfflineResource">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Welcome"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustNothing|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.chanzi.pokebao.welcome"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".searchparks.CheckParksActivity"
            android:label="@string/check_parks"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowSoftInputMode="adjustNothing|stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".searchparks.SearchSPNearbyActivity"
            android:label="@string/showsplist">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".navigate.NavigateActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/do_navigate"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="com.chanzi.pokebao.navigate"/>
                <action android:name="com.chanzi.pokebao.navigateaftergetkey"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".navigate.BNDemoGuideActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/title_route_guide">
        </activity>
        <activity
            android:name=".update.CheckUpdate"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="com.chuizi.pokebao.checkupdate.show"/>
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".btkey.RequestKey"
            android:theme="@style/MyDialogStyle">
        </activity>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustNothing|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name=".pay.ChargeCenter"
            android:label="@string/pay_charge"
            android:logo="@null">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".pay.PayActivity"
            android:icon="@drawable/msp_icon"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".rentmgr.ParkingManager"
            android:windowSoftInputMode="adjustNothing|stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".pay.OrderListActivity">
        <intent-filter>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        </activity>

        <!--
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxd930ea5d5a258f4f" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/MyDialogStyle"/>

        <!-- alipay sdk end -->
        <activity
            android:name=".ProtocolActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>
        <activity
            android:name=".quicklogin.UpdateCarNumber"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="com.chanzi.pokebao.displaycarinfo"/>
                <action android:name="com.chanzi.pokebao.updatecarinfo"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChargeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".smartcontrol.RealTimeChargeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Smart Controll -->
        <activity
            android:name=".smartcontrol.OpenDoor"
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".smartcontrol.SmartControllActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="com.chanzi.pokebao.smartcontroll.opendoor"/>
            </intent-filter>
        </activity>
        <activity android:name="com.zbar.lib.CaptureActivity"/>

        <!-- 此为邀请小伙伴的Activity入口 -->
        <activity
            android:name=".invitefriend.InvitefriendActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <!-- 此为微信分享后的回调入口 -->
        <activity android:name=".wxapi.WXEntryActivity">
        </activity>

        <service
            android:name=".bluetooth.BluetoothLeService"
            android:enabled="true"/>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>
        <service
            android:name=".update.CheckUpdateService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.chanzi.pokebao.checkupdate"/>
            </intent-filter>
        </service>
        <!-- Sync Service -->
        <service
            android:name=".sync.SyncService"
            android:enabled="true">
        </service>

        <provider
            android:name=".db.PokebaoContentProvider"
            android:authorities="com.chanzi.pokebao"
            android:exported="true"
            android:label="@null"
            android:permission="com.chanzi.pokebao.permission.ACCESS_PROVIDER">
        </provider>

    </application>

</manifest>
